<!DOCTYPE html>
<html>
  <head>
    <title>Mycourse</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'partials/navbar' %>
    <div class="container-fluid">
      <%= render partial: 'partials/side_bar' %>
      <main class="main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
